.header {
	min-height: 50px;
	background-color: #eef5fa;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-heigth);
	z-index: 2;
	box-shadow: 0 18px 20px -20px rgb(69 104 129 / 33%);
}

.header__content {
	  max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.header__libs {
	width: var(--libs-max-width);
	padding: 0 8px;
	display: flex;
  gap: 4px;
 	justify-content: space-between;	
}

.header__menu {
	width: var(--menu-width);
	margin: 0 8px;

}
.header__menu.hidden {
  display: none;
}

.header__editor {

    font-weight: 300;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    padding: 0 8px;
}

.header__save {
	width: var(--save-width);
	margin: 0 8px;
}

.header__save.hidden {
  display: none;
}

