*, *::after, *::before {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

html, body {
  /* we cant use another rem value because we use bootstrap */
  /* font-size: 10px; */
}

body {
  overflow-y: scroll;
}

:root {
  --header-heigth: 50px;
  --libs-max-width: 122px;
  --content-max-width: 1280px;
  --menu-width: 250px;
  --save-width: 220px;
}

.content {
  display: flex;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.content__libs {
  display: flex;
  flex-direction: column;
/*  width: 45px;*/
width: var(--libs-max-width);
  /*justify-content: center;*/
  height: 100vh;
  align-items: flex-end;
  /*background-color: #eee;*/
  padding: calc(10px + var(--header-heigth)) 0;

  top: 0;
  position: sticky;
  overflow-y: auto;
}

.content__libs::-webkit-scrollbar {
  width: 0; /* Mostly for vertical scrollbars */
  height: 0;
}

.content__lib-group {
  display: flex;
  flex-direction: row-reverse;
  padding: 4px;
  width: 100%;
  flex-wrap: wrap;
  gap: 2px;
}

.content__lib-group_large {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.content__libs .btn {
  width: 36px;
  height: 36px;
  padding: 4px;
  /*border-radius: 50%;*/
/*  margin-bottom: 4px;*/
}

.content__libs .btn:hover {
  border-color: #0d6efd;
}

.content__libs .btn img {
  max-width: 100%;
  max-height: 100%;
}
.content__libs .btn .bi {
  width: 20px;
  height: 20px;
}

.content__menu {
  width: 250px;
  /*border: 1px #d9d9d9 solid;*/
  /*border-width: 0 1px;*/
  margin: 0 8px;
  box-shadow: 0 24px 24px -18px rgb(69 104 129 / 33%), 0 9px 45px 0 rgb(114 119 160 / 12%);
  padding: calc(10px + var(--header-heigth)) 0;

    top: 0;
  position: sticky;
  overflow-y: auto;
  height: 100vh;
}

.content__menu::-webkit-scrollbar {
  width: 0; /* Mostly for vertical scrollbars */
  height: 0;
}

.content__menu.hidden {
  display: none;
}
/*
.content__menu-button {
      position: absolute;
    bottom: 8px;
    left: 8px;
}*/

.content__search {
/*  padding: 0 4px;*/
}

  .content__search.form-floating>label {
    padding: 1rem 1.6rem;
  }

  .content__search .btn {
    padding: 0 6px;
  }

.content__editor-wrapper {
  position: relative;
  display: flex;
    flex-direction: column;
  /*box-shadow: 0 24px 24px -18px rgb(69 104 129 / 33%), 0 9px 45px 0 rgb(114 119 160 / 12%);*/
  padding: 0 20px 20px; 
  flex: 1;
/*  background: #eef5fa;*/
  /*border-radius: 20px;*/
/*  margin-top: 10px;*/
padding: calc(10px + var(--header-heigth)) 0 0;
    box-shadow: 6px 0 6px 0 rgb(0 0 0 / 4%);
}

.content__editor-header {
  top: 60px;
    position: sticky;
    background: #eef5fa;
    padding: 8px 0;
    z-index: 2;
    box-shadow: 0 18px 20px -20px rgb(69 104 129 / 33%);
    margin: 0 8px;
    border-radius: 4px;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content__editor {
  padding: 20px 20px 20px 60px;
  background-color: #fff;
  border-radius: 4px;
  flex-grow: 1;
}

textarea {
  display: block;
  min-height: 80px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  border: 0;
}

.content__action {
  padding: 12px;
}

.content__result-data {
/*  visibility: hidden; - cant use it*/
opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  min-height: 0;
  z-index: -1;
  white-space: pre-wrap;
}

.content__position {

  font-weight: 300;
    font-size: 14px;
    padding: 0 0 0 60px;
    
    display: flex;
    margin: 0;
    gap: 8px;
flex-wrap: wrap;
}

.content__position-item {
  list-style-type: none;
    border-left: 2px solid #0d6efd;
    display: inline-block;
    padding: 0px 8px;
    background-color: white;
}

.content__action-editable {
  height: auto;
  display: flex;
  flex-direction: column;
}

.content__action-editable.hidden {
  height: 0;
  overflow: hidden;
}

.ce-code__textarea {
  min-height: 40px !important;
}

.ce-paragraph {
  line-height: 16px;
  font-size: 16px;
  font-weight: 300;
}

.ce-block__content {
  font-size: 16px;
  font-weight: 300;
}


/* SAVE */
.content__save {
  width: var(--save-width);
    margin: 0 8px;
  box-shadow: 0 24px 24px -18px rgb(69 104 129 / 33%), 0 9px 45px 0 rgb(114 119 160 / 12%);
  padding: calc(10px + var(--header-heigth)) 0;

    top: 0;
  position: sticky;
  overflow-y: auto;
  height: 100vh;

  background-color: #eef5fa;

}


.content__save::-webkit-scrollbar {
  width: 0; /* Mostly for vertical scrollbars */
  height: 0;

}

.content__save.hidden {
  display: none;
}

.header-4 {
      font-size: 16px;
    text-align: center;
    font-weight: 400;
    display: flex;
    margin-top: 12px;
    border-bottom: 1px solid #aaa;
    color: #0d6efd;
}

/*.header-4:before,
.header-4:after {
  content: "";
  width: 20px;
  border-top: 1px solid #555;
      display: block;
}*/

.button-group {
      display: flex;
    gap: 8px;
/*    justify-content: space-between;*/
}